<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<app-navbar></app-navbar>
<app-header></app-header>


<app-showlist [heading]="'Popular TV Shows'" [type]="'tv'"></app-showlist>
<app-showlist [heading]="'Action and Adventure TV Shows'" [genre_id]="'10759'"></app-showlist>
<app-showlist [heading]="'Top Korean Dramas'" [code]="'ko'"></app-showlist>
<app-showlist [heading]="'Trending Movies'" [type]="'movie'"></app-showlist>
<!-- Button trigger modal -->



<router-outlet></router-outlet>

